*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background:#c6c2c2;
}

.hero{
    height: 50px;
    width: 100%;
    background-color: rgb(99, 96, 96);
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 9%;
    
}
.logo{
    color: white;
    letter-spacing: 1px;
    cursor: pointer;

}
nav ul li{
    display: inline-block;
    padding: 15px 15px;
    padding-top: 10px;
     
}
nav ul li a{
    color: white;
    font-size: 20px;
    /* font-weight: bold; */
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgba(219, 210, 210, 0.721);
    transition: 0.2s;
    cursor: pointer;
}
.welcome{
    background-image: url(https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100vh;
position: relative;
/* background-attachment: fixed; */
background-position: center 65%;
}
.shiftCen{
    text-align: center;
    padding-top: 15%
}
.shiftCen h1{
font-size: 50px;
color: white;
letter-spacing: 1px;
padding-bottom: 20px;
font-weight: bolder;
}
.shiftCen p{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.shiftaCen{
    width: 150px;
    height: 40px;
    margin-left: 650px;
    margin-top: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
}
.shiftaCen:hover{
    background-color: rgba(126, 128, 128, 0.385);
    cursor: pointer;
    
}

.Service_Section{
    /* border: 5px solid green; */
    width: 100%;
height: 100%;
padding-top: 5px;
padding-bottom: 10px;
}
.service_Center{
    text-align: center;
}
.service_Center h1{
    font-size: 35px;
}
.service_Center p{
    font-size: 20px;
    font-weight: lighter;
}
#Image_Data{
    /* border: 5px solid black; */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    gap: 5px 5px;
    width: calc(100% / 1 - 15px);
    margin-bottom: 30px;
}
/*     
    height: 100%
   
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padd
    gap: 5px 5px; 
    
} */
.Image_Info{
    /* border: 5px solid gold; */
    background-color: white;
    width: 300px;
    height: 38vh;
    padding-left: 10px;
    /* margin-left: 20px; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    
}
.Image_Info img{
    width: 40%;
    height: 40%;
    border-radius: 100%;
    object-fit: cover;
    /* padding-top: 15px; */
    
}
.Image_Info p{
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 15px;
    padding-top: 5px;
    word-spacing: 1px;
    
}


.ShiftAbu{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
.AboutUs{
    /* border: 5px solid orangered; */
    width: 100%;
    height: 600px;
}
.Page_Info p,h4{
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    /* font-weight: bold; */
}
.Page_Info li{
    list-style-type: square;
}
.listShift{
    padding-left: 55px;
    font-size: 18px;
}

.ContactUs{
    /* border: 5px solid green; */
    height: 100vh;
    
}
.heading{
    text-align:center;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.heading h4{
    font-size: 35px;
    position: relative;
}
.heading p{
    font-size: 20px;
}
.container{
    width: 90%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap :50px
}
.Contact_Info{
    /* border: 5px solid yellow; */
    height: 350px;
    width: 400px;
}
.Contact_Info p{
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  line-height: 1.5;
  margin-left: 10px;
  font-weight: 300;
  font-size: medium;
  
  
}
.Contact_Info span {
    display: inline-block;
  vertical-align: middle;
  color: #505050;
  margin-right: 10px;
}

.Message{
    /* border: 5px solid red; */
    width: 350px;
    height: 500px;
    /* align-items: center; */

}
.formM{
    padding-top:20px ;
    padding-bottom:40px ;
}
.formM input{
    width: 340px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px ;
    padding-bottom: 10px; 
}
.formMes input{
    height: 150px;
    width: 340px;
    margin-bottom: 30px;
}
 button{
    margin-top: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: rgba(43, 39, 39, 0.733);
    transition: 0.2s;
    cursor: pointer;
}
.sent{
    background-color: rgb(28, 26, 26);
    color: rgb(201, 193, 193);
    font-size: 20px;
padding-left: 10px;
    padding-right: 10px;
    padding-top:10px ;
    padding-bottom: 10px;
}
.formMes input::placeholder{
    text-align: left 0px;
    text-align: top;
}